body{
  background-image: url("bk.jpg");
}
#wheelOfFortune {
display: inline-flex;
position: relative;
overflow: hidden;
margin-left: 300px;
}
label{
  font-size: 20px;
  color: white;
}
button{
  background-color: rgb(6, 80, 241);
  color: white;
  font-size: 30px;
  border-radius: 15px;
}
button:hover{
  background-color: rgb(45, 111, 255);
}
#wheel {
display: block;

}

#spin {
font: 1.5rem/0 sans-serif;
font-size: 15px;
user-select: none;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 50%;
left: 50%;
width: 30%;
height: 30%;
margin: -15%;
background: #fff;
color: #fff;
box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
border-radius: 50%;
transition: 0.8s;
}

#spin::after {
content: "";
position: absolute;
top: -17px;
border: 10px solid transparent;
border-bottom-color: currentColor;
border-top: none;
}
